<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Home Work 10 - Benjamin Carpenter</title>
  <link rel="shortcut icon" href="faveicon.ico" mce_href="/faveicon.ico"/>
</head>
<body>
	<table border="1" bgcolor="#FF9900"><tr><td>
    <img src="images/calclogo.jpg" /></td><td><span class="bigwords" style="font-size:68px; font-weight:bold; font-family:Arial, Helvetica, sans-serif">Utopia University<br />Calculator Museum</span></td></tr>
    <tr><td colspan="2"><a href="/projects/bcarpenter">Home</a></td></tr>